{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-main">
    <h3>FILTRES</h3>
    <div class="under_title"></div>

    {{ form_start(filterForm) }}
    <div class="container-input">
        <div class="row justify-content-between">
            <div class="col-sm-7 col-md-7">
                <label for="keywords" class="form-label">Mots clés</label>
                {{ form_widget(filterForm.keywords) }}
            </div>
            <div class="col-sm col-md-5">
                <label for="category" class="form-label">Categories</label>
                {{ form_widget(filterForm.category) }}
            </div>
            {# <div class="col-sm col-md-2">
                <label for="tags" class="form-label">Tags</label>
                <select class="form-select" id="tags" aria-label="Tags">
                    <option selected>Choose tags</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div> #}
        </div>

        <div class="row justify-content-between">
            <div class="col-sm-7 col-md-3">
                <label for="likes" class="form-label">Likes</label>
                <div class="double-input col-md-12">
                    {{ form_widget(filterForm.min_likes) }}
                    <p class="inter-input">à</p>
                    {{ form_widget(filterForm.max_likes) }}
                </div>
            </div>

            <div class="col-sm-7 col-md-3">
                <label for="views" class="form-label">Vues</label>
                <div class="double-input col-md-12">
                    {{ form_widget(filterForm.min_views) }}
                    <p class="inter-input">à</p>
                    {{ form_widget(filterForm.max_views) }}
                </div>
            </div>

            <div class="col-sm-7 col-md-5">
                <label for="upload_date" class="form-label">Date d'upload</label>
                <div class="double-input col-md-12" id="upload_date" data-provide="datepicker">
                    {{ form_widget(filterForm.min_uploadDate) }}
                    <p class="inter-input">à</p>
                    {{ form_widget(filterForm.max_uploadDate) }}
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-sm-7 col-md-3">
                <label for="time" class="form-label">Durée</label>
                <div class="double-input col-md-12">
                    {{ form_widget(filterForm.min_duration) }}
                    <p class="inter-input">à</p>
                    {{ form_widget(filterForm.max_duration) }}
                </div>
            </div>
            <div class="col-sm-7 scol-md-5">
                <label for="flexSwitchCheckDefault" class="form-label">Save</label>
                <div class="form-switch" style="display: flex">
                    <input class="form-check-input form-switch" type="checkbox" id="flexSwitchCheckDefault" onclick="isCheckBoxChecked()">
                    <div class="name-filters-save" style="display:none; margin-left: 2%; margin-bottom: 5%" id="namefilters">
                        {{ form_widget(filterForm.name) }}
                    </div>
                </div> 
                {# <label for="flexSwitchCheckDefault" class="form-label">Sous-Titres</label>
                <div class="col-md-12 form-check form-switch">
                    {{ form_widget(filterForm.has_subtitles) }}
                </div> #}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-7 col-md-12" style="text-align: end">
            {{ form_widget(filterForm.button) }}
        </div>
    </div>


    {{form_end(filterForm)}}
</div>

    <div class="container-main" style="margin-top:3%">
        <h3>RESULTATS</h3>
        <div class="under_title"></div>

        {% if data is defined %}
            <div class="row justify-content-between container-button">

                <div class="col-sm-7 col-md-3">
                    <label for="check" class="form-label" style="margin-top:10%">Select all</label>
                    <div class="form-check">
                        <input class="form-check-input" id="check" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </div>

            <!-- Modal -->
                <div class="modal fade" id="tagsModal" tabindex="-1" aria-labelledby="tagsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-center">
                        <div class="modal-content modal-rounded p-2 modal-tag">
                            <div class="modal-body">
                                <div class="modal-container-border text-center">
                                    <div class="row form-container">
                                        <div class="col-10">
                                            <input type="text" class="form-control" id="search-tag" placeholder="Search tags" aria-label="Search tags"/>
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-danger" id="search-tag-btn">Rechercher</button>
                                        </div>
                                    </div>
                                    <div class="col-12 tag-container row">
                                        <div class="col-5">
                                            <div class="tag-user">
                                                <div class="tag-user-title">
                                                    Tags User   
                                                </div>
                                                <div class="tag-user-tags row">
                                                    {% for i in 0..5 %}
                                                        <div class="col-4">
                                                            <div class="tag m-1 ">
                                                                tag U.{{i}}
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 tag-video-contaier">
                                            <div class="tag-video">
                                                <div class="tag-video-title">
                                                    Tags Video   
                                                </div>
                                                <div class="tag-video-tags row">
                                                    {% for i in 0..4 %}
                                                        <div class="col-4">
                                                            <div class="tag m-1 ">
                                                                tag V.{{i}}
                                                            </div>
                                                        </div>
                                                    {% endfor %}   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 tag-video-contaier">
                                            <div class="tag-recap">
                                                <div class="tag-recap-title">
                                                    Recap   
                                                </div>
                                                <div class="tag-recap-tags row">
                                                    {% for i in 0..4 %}
                                                        <div class="col-12">
                                                            <div class="tag m-2">
                                                                tag {{i}}
                                                            </div>
                                                        </div>
                                                    {% endfor %}   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-7 col-md-3" >
                    <a class="text-light btn btn-danger" style="margin-top:20%" type="button" data-bs-toggle="modal" data-bs-target="#tagsModal"><u>Ajouter tags</u></a>
                </div>

                <div class="col-sm-7 col-md-3" >
                    <button type="button" class="btn btn-danger button">Voir les statistiques</button>
                </div>
                <div class="col-sm-7 col-md-3" >
                    <button type="button" class="btn btn-danger button">Extraire les données</button>
                </div>

                
            </div>

            <div class="container">

                <table class="table" style="margin-top:5%">
                    <tbody>
                        {% for video in data %}
                            <tr>
                                <th scope="row">
                                    <div class="form-check" >
                                        <input class="form-check-video-res" type="checkbox" id="flexCheckDefault">
                                    </div>
                                </th>
                                <td>
                                    <img src="assets\images\exthumbnailjpg.jpg" alt="Bootstrap" class="img-thumbnail">
                                </td>
                                <td>
                                    <div class="title">
                                        {{ video.title}}<br/>
                                    </div> 
                                    {{ video.description[:100] ~ '...'}}
                                    <div class=" row" >
                                        {% for tag in video.tags %}
                                                <div class="tag col-2" >
                                                    {{tag.name}}
                                                </div>
                                        {% endfor %}
                                    </div> 
                                </td>
                                <td>
                                    Nb vues
                                    <div class="numbers">
                                        {{ video.statistic.nbViews}}
                                    </div>
                                </td>
                                <td>
                                    Nb likes
                                    <div class="numbers">
                                        {{ video.statistic.nbLikes}}
                                    </div>
                                </td>
                                <td>
                                    Date d'upload
                                    <div class="numbers">
                                        {{ video.statistic.releaseDate | date('d-m-Y')}}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        
                    </tbody>
                </table>

                <div class="pagination">
                    1-2345
                </div>


            </div>
        {% else %}
        <p>
            Pas de vidéos disponibles
        </p>
        {% endif %}


    </div> 

    <script>
        function isCheckBoxChecked() {
            // Get the checkbox
            var checkBox = document.getElementById("flexSwitchCheckDefault");
            // Get the output text
            var textbox = document.getElementById("namefilters");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                console.log("checked");
                textbox.style.display = "block";
            } else {
                textbox.style.display = "none";
            }
        }
    </script>

    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('search') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('search') }}
    {% endblock %}