<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Youtube Catalogue{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="nav-bar text-light">
    <img src="{{ asset('images/banniere.png') }}" alt="banniere" class="img-banniere">
    <div class="h1">
        <b><a class="main-title fw-bold" href="{{path('app_main')}}"><img src="{{ asset('images/logo2.png') }}"></a></b>
        
    </div>
    <div class="h2 flex">
        <b><a class="second-main-title fw-bold" href="{{path('app_search')}}">Catalogue</a></b>
        <b>	&bull;</b>
        <b><a class="second-main-title fw-bold" href="{{path('app_main')}}">Import</a></b>
    </div>

</div>

{% block body %}{% endblock %}
</body>
</html>
