{% extends 'base.html.twig' %}

{% block title %}Insertion des vidéos!{% endblock %}
{% block pageTitle %}Import de vidéos{% endblock %}
{% block body %}

<!-- Modal -->
    <div class="modal fade" id="importSCVModal" tabindex="-1" aria-labelledby="importSCVModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-center">
            <div class="modal-content modal-rounded p-2">
                <div class="modal-body">
                    <div class="modal-container-border text-center">    
                        <div id="before-submit-div" name="before-submit-div" >
                            <p class="mb-5">Upload your CSV File here</p>
                            <i class="h1 bi bi-filetype-csv"></i>
                        </div>
                        <div id="post-submit-div" class="d-none mb-4">
                            File uploaded successfully!
                        </div>
                            {{ form_start(CSVform) }}
                                <i id="after-submit-logo" class="d-none pt-3 h1 bi bi-filetype-csv"></i>
                                <label for="import_csv_CSV_file" class="btn btn-danger modal-btn-CSV ">Browse files</label>
                                    {{ form_widget(CSVform.reset) }}
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                    {{ form_widget(CSVform.CSV_file, {'attr': {'class': 'inputfile'}}) }}
                                    {{ form_widget(CSVform.submit) }}
                                    </div>
                            {{ form_end(CSVform) }}
                    </div>
                </div>
            </div>
        </div>
    </div>



    {{ form_start(URLform) }}
        <div class="container input-center mt-2" >
            <div class="center">
                <div class="input-group mb-3">
                    {{ form_widget(URLform.unique_link, {'attr': {'class': 'form-control border-radius-input'}}) }}
                    {{ form_widget(URLform.button, {'attr': {'class': 'btn btn-danger border-radius-button'}}) }}
                </div>
            </div>
            <div class="download_video text-center">
                <a class="text-danger" type="button" data-bs-toggle="modal" data-bs-target="#importSCVModal"><u>Import CSV file</u></a>
                <p class="text-light">
                {% if videoTitle is defined %}
                    {% if videoTitle is iterable %}
                        {% for index, videoInfo in videoTitle %}
                            Vidéo ({{index}}) : {{ videoInfo }}<br>
                        {% endfor %}
                    {% else %}
                        Vidéo téléchargée : {{ videoTitle }}
                    {% endif %}
                {% endif %}
                </p>
            </div>
        </div>
    {{ form_end(URLform) }}


    

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('menu') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('menu') }}
{% endblock %}
