{% extends 'base.html.twig' %}

{% block title %}Insertion des vidéos!{% endblock %}

{% block body %}

<!-- Modal -->
    <div class="modal fade" id="importSCVModal" tabindex="-1" aria-labelledby="importSCVModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-center">
            <div class="modal-content modal-rounded p-2">
                <div class="modal-body">
                    <div class="modal-container-border text-center">
                        


                        <p>Drag your CSV File here</p>
                        <i class="h1 bi bi-filetype-csv"></i>
                        <p class="h3">--------- OR ---------</p>

                        {{ form_start(CSVform) }}
                            <label for="import_csv_CSV_file" class="btn btn-danger modal-btn-CSV ">Choose a file</label>
                            {{ form_widget(CSVform.CSV_file, {'attr': {'class': 'inputfile'}}) }}
                            {{ form_widget(CSVform.button, {'attr': {'class': 'btn btn-danger modal-boutton-CSV'}}) }}
                        {{ form_end(CSVform) }}

                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ form_start(URLform) }}
        <div class="container input-center">
            <div class="center">
                <div class="input-group mb-3">
                    {{ form_widget(URLform.unique_link, {'attr': {'class': 'form-control border-radius-input'}}) }}
                    {{ form_widget(URLform.button, {'attr': {'class': 'btn btn-danger border-radius-button'}}) }}

                    {# <input class="form-control border-radius-input" onkeyup="url_video()" type="text" name="search" placeholder="Saisir une URL"> #}
                    {# <input class="btn btn-danger border-radius-button" type="button" value="Download"> #}
                </div>
            </div>
            <div class="download_video text-center">
                <a class="text-danger" type="button"data-bs-toggle="modal" data-bs-target="#importSCVModal"><u>Importer un CSV</u></a>
            </div>
        </div>
    {{ form_end(URLform) }}

    {% if videoTitle is defined %}
    <ul>
    {% for title in videoTitle %}
        <li class="text-light">{{ title }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('menu') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('menu') }}
{% endblock %}
