{% extends 'base.html.twig' %}

{% block title %}Statistiques des vidéos choisies!{% endblock %}
{% block pageTitle %}Statistiques{% endblock %}

{% block body %}
    <input type="hidden" class="d-none" id="stringParamId" value="{{ stringParam }}" />
    <div class="container">
        <div class="title-part-graph my-3" >
            <h3>Statistiques du filtre</h3>
            <div class="under_title"></div>
        </div>

        <div class="row container-main justify-content-between" style="display: flex;">
            <div class="container-graph double-column" style="width: 45%;">
                <canvas id="myChart" class="graph"></canvas>
            </div>

            <div class="double-column">
                <div class="container-graph graph-resume mb-3">
                    <div class="graph-resume-libelle">
                        <p><span style="font-size: 1.7em; color: white">Récap de la recherche</span></p>
                        <p>Nb de vidéos filtrées : <span id="nb-videos"></p>
                        {#<p>Tag le plus présent :</p>#}
                        <p>Nb de vue moyenne :  <span id="mean-views"></span></p>
                        <p>Nb de like moyen : <span id="mean-likes"></span></p>
                        <p>Durée moyenne des vidéos : <span id="mean-duration"></span></p>
                    </div>
                </div>

                <div class="container-graph">
                    <canvas id="myChartCategories" class="graph"></canvas>
                </div>
            </div>
        </div>


        <div class="row container-main justify-content-between">
            <div class="container-graph graph-40" >
                <canvas id="myChartTags" class="graph"></canvas>
            </div>

            <div class="container-graph graph-40">
                <canvas id="myChartLikesViews" class="graph"></canvas>
            </div>
        </div>

        <div class="row container-main justify-content-between">
            <div class="container-graph" >
                <canvas id="myChartDate" class="graph"></canvas>
            </div>
        </div>

    </div>

{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats') }}
{% endblock %}