{% extends 'base.html.twig' %}

{% block title %}Statistiques des vidéos choisies!{% endblock %}
{% block pageTitle %}Statistiques{% endblock %}

{% block body %}


    <div class="container">
        <a href="{{ path('get_graph_json_data', {stringParam : stringParam}) }}" class="btn btn-danger get-json-data mx-auto">Charger les données (graph 1 et 2)</a>
        <a href="{{ path('get_info_from_search', {stringParam : stringParam}) }}" class="btn btn-danger get-info-from-search mx-auto">Charger les données (compteur videos)</a>
        <div class="title-part-graph" style="margin-top: 2%">
            <h3 class="">Statistiques globales</h3>
            <div class="under_title"></div>
        </div>

        <div class="row container-main justify-content-between">
            <div class="container-graph">
                <canvas id="myChart" class="graph"></canvas>
            </div>
            <div class="container-graph">
                <canvas id="myChart2" class="graph"></canvas>
            </div>
        </div>


        <div class="title-part-graph">
            <h3 class="title-part-graph">Statistiques du filtre</h3>
            <div class="under_title"></div>
        </div>

        <div class="row container-main justify-content-between">
            <div class="container-graph graph-resume">
                <div class="graph-resume-libelle">
                    <p>Nom du filtre :</p>
                    <p>Nb de vidéos :</p>
                    <p>Catégorie la plus présente :</p>
                    <p>Tag le plus présent :</p>
                    <p>Nb de vue moyenne :</p>
                    <p>Nb de like moyen :</p>
                    <p>Durée moyenne des vidéos :</p>
                </div>
            </div>
            <div class="container-graph">
                <canvas id="myChart3" class="graph"></canvas>
            </div>

        </div>
    </div>


{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats') }}
    {{ encore_entry_link_tags('menu') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats') }}
    {{ encore_entry_script_tags('menu') }}
{% endblock %}